.dashboardContainer {
    display: flex;
    flex: 1;
    width: 100%;
}

.sidebarWrapper {
    flex: 0 0 auto;
}

.contentWrapper {
    position: relative;
    flex: 1;
    min-height: calc(100vh - 4rem);
    padding: 2rem;
    overflow-y: auto;
    margin-left: 220px;
}

.pageLoader {
    background: var(--color-secondary);
}