.form-select {
    width: 100%;
    padding: 18px 16px 8px;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: var(--color-secondary);
}

.dark {
    background-color: var(--color-main);
}
.light {
    background-color: var(--color-secondary);
}
.size-small {
    padding: 10px 8px 4px;
}
.size-medium {
    padding: 14px 12px 6px;
}
.size-large {
    padding: 18px 16px 8px;
}