.footer {
  padding: 40px 10%;
  background-color: var(--color-secondary);
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
}

.footer-left h3 {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  color: var(--color-text);
  font-family: var(--font-secondary);
}

.footer-left,
.footer-links {
  text-align: center;
}

.footer-left {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.footer-left h2 {
  font-family: var(--font-secondary);
  margin-top: 0;
  color: var(--color-text);
}

.footer-logo {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 100px;
}

.footer-left p {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--color-text);
}

.footer-links {
  display:flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.footer-links a {
  margin: 0 2px;
  font-size: 0.8rem;
  white-space: nowrap;
  color: var(--color-text);
  font-family: var(--font-secondary);
  text-decoration: none;
  letter-spacing: 1px;
  transition: opacity 0.3s;
}
.footer-links a:not(:last-child){
  border-right: 1px solid currentColor;
  padding-right: 6px;
}

.footer-links a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.footer-right {
  flex: 1;
  min-width: 300px;
  max-width: 650px;
  text-align: left;
  margin-right: 10%;
}

.footer-right h3,
.footer-right p {
  margin: 10px;
  padding: 0;
  text-align: center;
  color: var(--color-text);
}

.footer-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-note {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
  text-align: center;
}

@media (max-width: 865px) {
  .footer {
    flex-direction: column;
    gap: 0px;
  }

  .footer-right {
    order: 1;
    margin-right: 0;
    padding-bottom: 0;
  }

  .footer-left {
    order: 2;
    margin-top: 20px;
  }
}