body {
    background-color: #001a20;
}

#carouser {
    background-color: black;
    margin: 0;
    padding: 0;
}
#carouser img {
    height: 700px;
    object-fit: cover;
    opacity: 0.5;
}

#searchBar {
    background-color: rgba(255, 255, 255, 0.1);
}

#searchBar .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
}
#searchBar .form-control::placeholder {
    color: #e0e0e0;
}

.card {
    min-height: 500px;
}

#cards img {
    opacity: 0.5;
    mask-image: linear-gradient(to bottom, black, transparent);
}



